● inference-admin.service - Inference Instance Admin API Service
   Loaded: loaded (/etc/systemd/system/inference-admin.service; enabled; vendor preset: disabled)
   Active: inactive (dead) since Tue 2025-12-02 15:23:22 CST; 2min 39s ago
     Docs: https://github.com/your-org/inference-instance-admin
  Process: 3154946 ExecStart=/root/inference-instance-admin/venv/bin/uvicorn main:app --host 0.0.0.0 --port 38000 --workers 4 --log-level info --access-log --proxy-headers --forwarded-allow-ips * (code=exited, status=0/SUCCESS)
 Main PID: 3154946 (code=exited, status=0/SUCCESS)

12月 02 15:23:22 magi-operation inference-admin[3154951]: INFO:main:Shutting down application...
12月 02 15:23:22 magi-operation inference-admin[3154950]: INFO:     Application shutdown complete.
12月 02 15:23:22 magi-operation inference-admin[3154951]: INFO:     Application shutdown complete.
12月 02 15:23:22 magi-operation inference-admin[3154950]: INFO:     Finished server process [3154950]
12月 02 15:23:22 magi-operation inference-admin[3154951]: INFO:     Finished server process [3154951]
12月 02 15:23:22 magi-operation inference-admin[3154946]: INFO:     Waiting for child process [3154951]
12月 02 15:23:22 magi-operation inference-admin[3154946]: INFO:     Waiting for child process [3154952]
12月 02 15:23:22 magi-operation inference-admin[3154946]: INFO:     Stopping parent process [3154946]
12月 02 15:23:22 magi-operation systemd[1]: inference-admin.service: Succeeded.
12月 02 15:23:22 magi-operation systemd[1]: Stopped Inference Instance Admin API Service.
